.listItem{
    list-style: none;
    padding: 0 2rem;
}

.listItemStyle{
    color: black;
    text-decoration: none;
}

#navContainer a.active{
    background-color: #2d481e   ;
    color: #c6e1b7;
    padding: 18px;
    border-radius: 8px;
}