#brandLink{
    min-width: 280px;
}

#brandLink a.active{
    text-decoration: none;
    background-color: #2d481e   ;
    color: #c6e1b7;
    border-radius: 8px;
}

.brandInactive{
    color: #16240f;
    font-size: larger;
    text-decoration: none;
    border-radius: 8px;
}